h1 {
  text-align: center;
}


.chicken_Heading{
  background-color: #EB8A12;
  width: 100px;
  margin-bottom: 50px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  clear: left;

}

.beef_Heading{
  background-color: #f9906f;
  width: 100px;
  margin-bottom: 50px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;


}

.kota_Heading{
  background-color: #996515;
  width: 100px;
  margin-bottom: 10px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;

}

.paraText{

  margin-top: 150px;
  position: relative;
  clear: right;
}

.Sections{
  background-color: gray;
  /*padding: 10px; */
  margin: 20px;
  width: 33.33%;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-right: 10px;

}
