/********BASE STYLES************/


h1 {
  text-align: center;
  font-family: fantasy, cursive, serif, sans-serif;
  font-size: 175%;
}


.section_Heading{

  font-family: fantasy, cursive, serif, sans-serif;
  font-size: 125%;
  width: 100px;
  height: 50px;
  text-align: center;
  border: 1px solid black;
  margin-bottom: 50px;
  box-sizing: border-box;
  position: relative;
  top: 0;
  right: 0;

}

#chText {
  background-color: #EB8A12;
  position: absolute;
  top: 0;
  right: 0;
}

#bhText {
  background-color: #f9906f;
}

#khText {
  background-color: #996515;
}
/*
.beef_Heading{

  text-align: center;
  font-family: fantasy, cursive, serif, sans-serif;
  font-size: 25%;
  width: 100px;
  height: 50px;
  margin-bottom: 50px;
  border: 1px solid black;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;


}

.kota_Heading{

  font-family: fantasy, cursive, serif, sans-serif;
  font-size: 25%;
  text-align: center;
  width: 100px;
  height: 50px;
  border: 1px solid black;
  margin-bottom: 50px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;

}
*/
.paraText{

  margin-top: 65px;
  font-family: fantasy, cursive, serif, sans-serif;
  position: relative;
  width: 99%;
  box-sizing: border-box;
}

.Sections{
  background-color: #cc080b;
  padding: 10px;
  margin: 20px;
  border: 1px solid black;
  width: 30%;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-right: 10px;

}

/*********LARGE DEVICES**************/
@media (min-width: 992px) {
  .Sections {
    width: 30%;



  }
}

/*************MEDIUM DEVICES**********/

@media (min-width: 768px) and (max-width: 991px) {
  .Sections {
    width: 50%;
    float: left;
    margin-right: 10px;
  }

}

/***********SMALL DEVICES************/

@media (max-width: 767px) {
.Sections {
  width: 100%;
}
}
