/********BASE STYLES************/


h1 {
  text-align: center;
  font-family: fantasy, cursive, serif, sans-serif;
  font-size: 200%;
}


.chicken_Heading{
  background-color: #EB8A12;
  font-family: fantasy, cursive, serif, sans-serif;
  font-size: 125%;
  width: 150px;
  max-height: 65px;
  text-align: center;
  border: 1px solid black;
  margin-bottom: 50px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;

}

.beef_Heading{
  background-color: #f9906f;
  text-align: center;
  font-family: fantasy, cursive, serif, sans-serif;
  font-size: 125%;
  width: 100px;
  max-height: 65px;
  margin-bottom: 50px;
  border: 1px solid black;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;


}

.kota_Heading{
  background-color: #996515;
  font-family: fantasy, cursive, serif, sans-serif;
  font-size: 125%;
  text-align: center;
  width: 100px;
  max-height: 65px;
  border: 1px solid black;
  margin-bottom: 50px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;

}

.paraText{

  margin-top: 65px;
  font-family: fantasy, cursive, serif, sans-serif;
  position: relative;
  width: 99%;
  box-sizing: border-box;
}

.Sections{
  background-color: orange;
  padding: 10px;
  margin: 20px;
  border: 1px solid black;
  width: 30%;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-right: 10px;

}

/*********LARGE DEVICES**************/
@media (min-width: 992px) {
  .col-lg-4 {

  }
  .Sections {
    width: 30%;



  }
}

/*************MEDIUM DEVICES**********/

@media (min-width: 768px) and (max-width: 991px) {
  .Sections {
    width: 50%;
    float: left;
    margin-right: 10px;
  }

  #kota_section {
    width: 100%;
  }

}

/***********SMALL DEVICES************/

@media (max-width: 767px) {
.Sections {
  width: 100%;
}
}
